body {
  background-color: rgb(79, 118, 190) !important;
}

.rainbow {
  animation: rainbow 600ms;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }

  15% {
    color: rgb(255, 145, 0);
  }

  30% {
    color: rgb(255, 238, 0);
  }

  45% {
    color: rgb(0, 255, 0);
  }

  60% {
    color: rgb(0, 17, 255);
  }

  75% {
    color: rgb(149, 0, 255);
  }

  90% {
    color: rgb(255, 0, 200);
  }
}
